.a
{
background:url(../pic/1.jpg);
}
.a h1
{
  font-family: 'Spectral SC', serif;
  color:#ffbe00;
}
.b
{
background:url(../pic/3.jpg);
padding-top:;
padding-bottom:15em;
}
.b h1
{
font-family: 'Spectral SC', serif;
color:#ffbe00;
}